form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .submit{
    border: 2px solid #2b6363 !important;
    cursor: pointer;
  }
  
  h3 {
    font-size: medium;
    font-weight: 400;
    margin: 0.2rem;
  }